/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f0f6; /* Color de fondo lila claro */
}

/* Estilo para centrar y dar borde redondeado a las secciones */
.section-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

header {
    background: linear-gradient(135deg, #b68fd1, #7f4f9f); /* Gradiente lila claro */
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.1em;
    margin-top: 20px;
}

nav {
    background-color: #7f4f9f; /* Color de fondo violeta claro */
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo de las secciones */
section {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f7fa; /* Color de fondo blanco ligeramente lila */
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

section h2 {
    color: #7f4f9f; /* Color violeta claro */
}

/* Estilos de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #b68fd1; /* Color de fondo lila claro */
    color: #fff;
}

/* Estilo de los enlaces */
.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
height: 50%;
width: 50%;
}

/* Estilo del formulario de contacto */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #8b4db8c6; /* Color de fondo lila claro */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1em;
}

form input[type="submit"] {
    background-color: #0b060f; /* Color de fondo lila claro */
    color: #fff;
    border: none;
    padding: 12px 10px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #7f4f9f; /* Color de fondo violeta claro */
}
