
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f5; 
}

img {
    max-width: 100%;
    height: auto;
}


.gallery {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}


h1 {
    color: #6a5acd; 
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}


.image-container {
    display: inline-block;
    width: calc(50% - 20px); 
    margin: 10px;
    vertical-align: top;
    text-align: left; 
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; }

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0; 
}


.image-description {
    padding: 15px;
    background-color: #f9f9f9; 
    color: #555; 
    font-size: 14px;
    line-height: 1.4;
}


@media (max-width: 768px) {
    body {
        margin: 10px;
    }

    .image-container {
        width: calc(100% - 20px); 
    }

    h1 {
        font-size: 24px;
    }

    .image-description {
        font-size: 12px;
        padding: 10px;
    }
}
