h1 {
    text-align: center;
    margin-top: 100px;
}

.container {
    width: 80%;
    max-width: 500px;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 0;
}

.inner-box {
    background-color: #d292f79d;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #0f0d0d;
}

form label,
form input[type="text"],
form input[type="email"],
form input[type="radio"],
form input[type="checkbox"] {
    margin-bottom: 5px;
    color: #fff;
}

form input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

form input[type="submit"] {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="submit"]:hover {
    background-color: #4b0082;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em; 
        margin-top: 50px; 
    }

    .container {
        width: 90%; 
        padding: 20px; 
        margin: 50px auto 0; 
    }

    form input[type="submit"] {
        padding: 10px 15px; 
        font-size: 0.9em; 
    }
}
